@{
    ViewBag.Title = "A Few Things We'd Like You To Know About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>We are dedicated to providing all of our listeners and users the greatest music streaming experience across the web. We give you the opportunity to freely upload ,stream, and download all songs across our site as long as you're registered and logged in. Together we create an amazing opportunity to share and enjoy our favorite projects with each other. We may be the overlooked but we're the hidden gems soon to be the elite a purely positively perpetual force of music lovers all across the world which is why WE ARE TOP NOTCH TOGETHER !!!!</p>
